<%- include("../partials/header.ejs") %>

<section>
    <div class="container mt-5">
        <h2>ประเภท</h2>

        <div class="text-center d-flex flex-rw">

            <div class="me-1 mt-2 mb-5">
                <a href="genre/folk" class="text-decoration-none">
                    <img src="/images/genre/folk.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Folk</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/world" class="text-decoration-none">
                    <img src="/images/genre/world.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">World</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/latin" class="text-decoration-none">
                    <img src="/images/genre/latin.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Latin</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/pop" class="text-decoration-none">
                    <img src="/images/genre/pop.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Pop</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/classical" class="text-decoration-none">
                    <img src="/images/genre/classical.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Classical</h3>
                </a>
            </div>

            <div class="me-1  mt-2 mb-5">
                <a href="genre/rock" class="text-decoration-none">
                    <img src="/images/genre/rock.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Rock</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/vocal" class="text-decoration-none">
                    <img src="/images/genre/vocal.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Vocal</h3>
                </a>
            </div>
            
            <div class="me-1 mt-2 mb-5">
                <a href="genre/jazz" class="text-decoration-none">
                    <img src="/images/genre/jazz.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Jazz</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/hiphop" class="text-decoration-none">
                    <img src="/images/genre/hip-hop.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Hip Hop</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/newage" class="text-decoration-none">
                    <img src="/images/genre/newage.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">New Age</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/blues" class="text-decoration-none">
                    <img src="/images/genre/blues.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Blues</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/rb" class="text-decoration-none">
                    <img src="/images/genre/rb.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">R&B</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/edm" class="text-decoration-none">
                    <img src="/images/genre/edm.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">EDM</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/country" class="text-decoration-none">
                    <img src="/images/genre/country.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Country</h3>
                </a>
            </div>

            <div class="me-1 mt-2 mb-5">
                <a href="genre/metal" class="text-decoration-none">
                    <img src="/images/genre/metal.png" alt="cover" class="rounded w-75">
                    <h3 class="mt-2 text-secondary">Metal</h3>
                </a>
            </div>
    
        </div>
    </div>

    
</section>


<%- include("../partials/footer.ejs") %>